h1 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 5%);
}

h2 {
  font-size: 40px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-size: 15px;
  font-weight: 300;
  margin-top: 8px;
}

li {
  font-size: 15px;
  font-weight: 300;
  list-style: none;
}

ul {
  padding-left: 0;
}

.app-full {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.app-format {
  font-family: "Poppins", sans-serif;
  max-width: 1000px;
  display: block;
  margin: 40px auto;
}

.app-format-top {
  border-radius: 20px;
  padding: 30px;
  color: #fff;
  background: linear-gradient(
    286.8deg,
    rgb(30, 144, 231) 17.1%,
    rgb(67, 101, 225) 77.8%
  );
}

.app-format-middle {
  border-radius: 20px;
  padding: 30px;
  color: rgb(65, 64, 64);
}

.left {
}

.right {
  display: block;
  text-align: center;
  margin-top: 40px;
}

small {
  display: block;
  text-align: center;
}
